@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a[target] {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
}

.nav-menu-inactive {
  visibility: hidden;
  height: 0px;
  transition: ease height 0.3s;
}
.nav-menu-active {
  visibility: visible;
  height: 104px;
  transition: ease height 0.3s;
}
